* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

:root {
    --prymary-black: rgba(0, 0, 0, 255);
    --prymary: rgba(8, 11, 18, 255);
    --secondary: rgba(20, 25, 34, 255);
    --player: rgba(40, 40, 40, 255);
    --text: rgba(104, 104, 104, 255);
    --text-light: rgba(255, 255, 255, 255);
    --icons-light: rgba(223, 223, 223, 255);
    --icons-dark: rgba(90, 90, 90, 255);
    --accent: rgba(89, 129, 40, 255);
    --active-slider:rgba(193,193,193,255);
}

:root {
    --player-height: 80px;
    --main_menu-width: 280px;
}

/*  #region utilities */

.d_flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d_flex_center>i{
    padding-right: 1rem;
    padding-left: 1rem;
}

.d_flex_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.d_flex_right>i{
    padding-right: 1rem;
    padding-left: 1rem;
}

.d_flex{
    display: flex;
    align-items: center;
}

.d_flex>i{
    padding-right: 1rem;
    padding-left: 1rem;
}
.h-100{
    height: 100%;
}
.c_grey{
    color: var(--text);
}

.m_bot_auto{
margin-top: 60%;
}

.image-crop {
    object-fit: cover;
    border-radius: 50%;
    height: 90%;
    width: 100%;
    padding-top: 1rem;
}



/* #region colonne */


.col_1 {
    width: calc(100% /12 *1);

}

.col_2 {
    width: calc(100% /12 *2);

}

.col_3 {
    width: calc(100% /12 *3);

}

.col_4 {
    width: calc(100% /12 *4);

}

.col_5 {
    width: calc(100% /12 *5);

}

.col_6 {
    width: calc(100% /12 *6);

}

.col_7 {
    width: calc(100% /12 *7);

}

.col_8 {
    width: calc(100% /12 *8);

}

.col_9 {
    width: calc(100% /12 *9);

}

.col_10 {
    width: calc(100% /12 *10);

}

.col_11 {
    width: calc(100% /12 *11);

}

.col_12 {
    width: calc((100% /12 *12)-1rem);

}

/* #endregion colonne */

/*  #endregion utilities */


/*  #region layout container */
.main-wrapper {

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    width: 100%;
    height:calc(100% - var(--player-height));
    display: flex;
    flex-direction: row;
}

nav {
    width: var(--main_menu-width);
    height: 100%;
    background: var(--prymary-black);
    color: var(--text);
    padding: 1rem 2rem;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.body-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: var(--secondary);
}

.head {
    width: 100%;
    height: var(--player-height);
    background-color: var(--prymary);
    justify-content: flex-end;
    padding: 1rem;
}

.content{
    height: 100%;
    width: 100%;
    padding: 1rem;
  
    color: var(--text);
}

.bottom_bar {
    width: 100%;
    height: var(--player-height);
    z-index: 99;
    background-color: var(--player);

}


/*  #endregion layout container */



/*#region main_menu */


.logo{
    width: 80%;
    padding: 1rem;
}

.bt_nav_selection{
  padding: 1rem 0.5rem;
  font-size: 20px;
}

.bt_nav_selection:hover{
   
  margin-left: -1rem;
    font-size: 20px;
    color: var(--text-light);
    border-left: 6px solid var(--accent);
    cursor: pointer;
  }

nav>h2{
    font-size: 28px;
    color: var(--text-light);
    padding: 1rem 0 ;
}

.square{
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: var(--text);
    color: var(--prymary-black);
    font-size: 24px;
    margin-right: 10px;
}

.nav_playlist_menu{
   position: relative;
   overflow: auto;
   height: 250px;
}

nav>hr{
    border-bottom: 0.5px solid var(--text);
    opacity: 0.5;
}

.nav_user{
    color: var(--text-light);
    padding-top: 1rem;
    font-size: 28px;
}
.nav_user>h3{
  
    font-size: 26px;
}

/*#endregion main_menu */


/* #region content */

.content>h2{
    color: var(--text-light);
padding: 1rem 0;
}
.upgrade{
    color: var(--text-light);
    align-self: center;
    padding: 1rem;
    border: 1px solid var(--text-light);
    border-radius: 30px;
   
}
.content_nav{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;

    align-items: center;
    flex-wrap: wrap;
}
.bt_content_nav{
    padding: 1rem ;
    font-size: 11px;

  }
  
  .bt_content_nav:hover{
     
   padding-bottom: -1rem;
      font-size: 11px;
      color: var(--text-light);
      border-bottom: 2px solid var(--accent);
      cursor: pointer;
      border-bottom-width: -2px;

    }
  
.song_card_ct{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.song_card{

    padding: 0.4rem;
    text-align: center;
    
}
.song_card>h3{
    color: var(--text-light);
}
.song_img{
    width: 100%;
}
/* #endregion content */


/* #region player */

.bottom_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light);
}

.player_img {
    width: 10%;
 padding: 0 1rem;
}
#seek-slider_audio{
    width: 30%;
    margin-right: 1rem;
}


/* #region slider */


#seek-slider{
   padding: 1rem;
}
input[type="range"] {
    position: relative;
   
    width: 100%;
    margin: 0;
    padding: 0;
    height: 19px;

    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 50%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
  }
  input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color:var(--active-slider);
    cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    position: relative;
 
    box-sizing: content-box;
    border: 1px solid var(--active-slider);
    height: 15px;
    width: 15px;
    border-radius: 50%;

    cursor: pointer;
    margin: -7px 0 0 0;
  }
  input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--active-slider);
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    /* background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width)); */
    background-color: black;
  }
  input[type="range"]::-moz-range-progress {
    background-color: var(--active-slider);
  }
  input[type="range"]::-moz-focus-outer {
    border: 0;
  }
  input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid var(--active-slider);
    height: 15px;
    width: 15px;
    border-radius: 50%;

    cursor: pointer;
  }
  input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--active-slider);
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background-color: var(--active-slider);
  }
  input[type="range"]::-ms-fill-upper {

    background-color: black;
  }
  input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid var(--active-slider);
    height: 15px;
    width: 15px;
    border-radius: 50%;

    cursor: pointer;
  }
  input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: var(--active-slider);
  }
/* #endredgion slider */


/* #endregion player */

@media screen and (max-width: 1199px) {
  
  .col_md_3 {
        width: calc(100% / 12 * 3 );
    }


    .col_lg_6 {
        width: calc(100% / 12 * 6 );
    }


}


@media screen and (max-width: 767px) {

 
    .col_sm_6 {
        width: 50%;
        
    }

    .col_md_4 {
        width: calc(100% / 12 * 4 );
    }

    .col_md_8 {
        width: calc(100% / 12 * 8 );
    }

    .col_md_6 {
        width: calc(50% );
    }

  
}

@media screen and (max-width: 480px) {

    .content_nav{
        width: 90%;
        margin: auto;
    }
    .col_sm_6 {
        width: 50%;
        
    }

    /* .col_md_8 {
        width: calc(100% / 12 * 8 );
    }

    .col_md_6 {
        width: calc(50% );
    } */

  
}